:root {
  --bs-primary: #00425a;
  --bs-secondary: #fc7300;
  --bs-third: #dadada;
  --bs-background: #f9f9f9;
  --bs-background-2: #ececec;
  --bs-backup-primary: #0d6efd;
  --bs-backup-secondary: #6c757d;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--bs-background-2);
}

.page-link {
  color: var(--bs-primary);
}

.page-link:active {
  background-color: var(--bs-secondary);
  color: var(--bs-secondary);
}

h5:hover {
  color: var(--bs-primary);
  transition: 0.3s;
}
